
-## == Schema Information
-##
-## Table name: recipes
-##
-##  id         :integer         not null, primary key
-##  name       :string(255)
-##  user_id    :integer
-##  prep_time  :string(255)
-##  cook_time  :string(255)
-##  servings   :integer
-##  methodology     :text
-##  created_at :datetime        not null
-##  updated_at :datetime        not null
-##

-title("The Vegan Among Us | Add Recipe")
%h1 New Recipe

= render 'form'