-title("The Vegan Among Us | About")
.div
  .center
    %h1 The Vegan Among Us
    %h3 A Vegan Recipe Repository
  .row
    %hr
    %h2 The Motivation
    %p
      The Vegan Among Us is a place designed to help organize recipes and vegan living.  Sheila (the founder) was
      looking for a better way to store recipes.  We had a binder where we kept printouts of recipes, but it got
      lost when we moved, and many recipes lost with it.  We created a new binder, but pages fall out, or just shoved
      in randomly.
    %h2 The History
    %p
      A long while back, we had 'RecipeWeb', a website back in the late 1990s that we used (it was Microsoft ASP) to
      store recipes, but it got out of date, and we let the domain die a slow death.  It was also inflexible, making
      the addition of recipes difficult.  It also didn't offer a 'full service' solution in terms of other aspects
      of vegan living.
    %h2 The Vision
    %p
      We have tried to right the wrongs of our past with a more comprehensive suite of tools, designed for ourselves,
      but free to be used by others.  There is the blog to just talk about recipes, veganism and stuff in general at
      =link_to 'The Vegan Among Us', 'http://theveganamongus.com'
      and now we also have this Recipe web app.  The app is new, and evolving.  For now, it is only capable of providing
      a list of recipes, which you can then view/print (currently, only an admin can add/edit/delete recipes). Our path,
      though, is planned out, here is where we'd like to go:
    %h2 The Future
    %ol
      %li Anybody can view/search/print recipes
      %li Registered users can add recipes, and edit their own recipes
      %li Registered users can create a menu plan, add recipes to it, and save/view/print it
      %li Registered users can run a grocery list from a saved menu plan
      %li Registered users can like favorite recipes, post them to Facebook, Twitter, Pinterest
      %li Registered users can rate recipes
      %li Registered users can follow each other, to get a 'feed' of new or edited recipes
    %p
      There may be things you don't see that you would like to see, or things that you see that just don't seem to
      work the way you think they should.  We're going to add a 'feedback' link in the near future, so you can let us
      know what other features you think we should add, or what features we have that are broken or need to be
      improved.
    %h2 Thanks
    %p
      So thanks, and welcome to our recipe repository.

  .div.pull-right
    %p
      = link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org'
      This site is built with Ruby on Rails.