-title("The Vegan Among Us | #{@category.name}")
.row
  .container
    .span8
      %h1.left= @category.name
      %p= @category.description
      %p= link_to "Edit Category", edit_category_path(@category)