.footer
  .small
    %a{href:"http://theveganamongus.com"} The Vegan Among Us
  .nav
    .div
      .pad_right
        %ul
          %li
            =link_to 'About', '#'
          %li
            =link_to 'Facebook', '#'
          %li
            =link_to 'Twitter', '#'
          %li
            =link_to 'Pinterest', '#'
