%footer{class: "footer"}
  %small
    %a{href:"http://theveganamongus.com"} The Vegan Among Us
  .nav
    .div.pad_right
      %ul
        %li
          =link_to 'About', '#'
        %li
          %i.icon-facebook-sign
          =link_to 'Facebook', '#'
        %li
          %i.icon-twitter-sign.ltblue
          =link_to 'Twitter', '#'
        %li
          %i.icon-pinterest-sign.red
          =link_to 'Pinterest', '#'
